#hero-contact {
    padding: 14em 0;
    padding-bottom: 5em;
}
.contact-form {
    background-color: hsl(0, 0%, 90%);
    border-radius: 20px;
    padding: 3em;
}
textarea {
    width: calc(100% - 1rem) !important;
    margin: 0 auto;
}
input:focus,
textarea:focus {
    box-shadow: none !important;
}
input,
textarea {
    padding: 1em 1.5em !important;
    border-radius: 15px !important;
}

@media only screen and (max-width:576px) {
    .contact-form {
        padding: 1em !important;
    }
    .col-12 {
        text-align: center;
    }
}